.table{
    border: 1px solid black;
    width: 100%;
    background-color: white;
}
.r1{
    border: 1px solid black;
    
}
.r2{
    border: 1px solid black;
    
}
.head{
    border: 1px solid black;
    
}
.data{
    border: 1px solid black;
    
}
.btn btn-primary{
    padding: 50px;
}
.fle{
    text-align:bottom ;
}
.table{
    text-align: end;
}

